<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-center text-sm-center d-block d-sm-inline-block">@FooterText</span>
    </div>
</footer>
@code{

    [Parameter]
    public string FooterText { get; set; } = "";

}